.NavBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-inline: 20px;
  background-color: rgba(56, 56, 56, 1);
  margin-bottom: 15px;
}

.NavBar a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formNavBar{
  display: flex;
}

.formNavBar select, .formNavBar input, .formNavBar button{
  border: 1px solid rgba(56, 56, 56, 1);
  border-radius: 2px;
}

.formNavBar select{
  border-radius: 2px 0 0 2px;
} 
.formNavBar button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 2px;
  border-radius: 0 2px 2px 0;
}

.formNavBar input{
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  flex: 1;
} 
.formNavBar input::placeholder{
  color: black;
} 

